<div class="body">
  <div class="login">
    <form [formGroup]="form" (ngSubmit)="login()">
      <img src="../../../assets/img/user.png" width="50%" />
      <h1>Login</h1>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="user" />
        <mat-error *ngIf="isValidField('user')">
          {{ getErrorMessage("user") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          autocomplete="off"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="isValidField('password')">
          {{ getErrorMessage("password") }}
        </mat-error>
      </mat-form-field>
      <br />
      <button
        type="submit"
        class="ancho button"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Entrar
      </button>
      <div>
        <p>No tiene cuenta?<a routerLink="/register">Registrarse</a></p>
      </div>
    </form>
  </div>
</div>
