.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #f5f5f5;
}

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

.ancho {
  width: 80%;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.button {
  height: 50px;
}

.spinner {
  margin: 0 auto;
}
