<div class="overlay" *ngIf="spiner">
  <div class="uploader-status">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="!spiner && list.length == 0">
  <mat-toolbar>
    <div class="example-spacer"></div>
    <span>El changito esta vacio Intente agregar algo </span>
    <div class="example-spacer"></div>
  </mat-toolbar>
</div>
<div *ngIf="list && list.length != 0" class="container">
  <mat-toolbar>
    <span>Tu Changito</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="purchase()">Comprar</button>
  </mat-toolbar>
  <mat-card class="mat-elevation-z8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; let i = index">
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.price }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.cantidad * item.product.price }}</td>
          <td style="text-align: right">
            <button
              mat-mini-fab
              matTooltip="Ver Detalle"
              color="primary"
              (click)="view(item.product)"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button
              mat-mini-fab
              matTooltip="Editar cantidad"
              color="accent"
              class="margin"
              (click)="edit(item)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              matTooltip="Eliminar del changuito"
              color="warn"
              (click)="delate(item, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
