table {
  background-color: white;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: #246355;
  border-bottom: solid 5px #0f362d;
  color: white;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 5%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eeeded;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
