<div class="container">
  <mat-toolbar>
    <span>Lista de Productos</span>
  </mat-toolbar>

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="6" [style.background]="'lightblue'">
      <app-ag-grid
        (product)="onchange($event)"
        style="width: 100%; height: 100%"
      ></app-ag-grid>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="!this.completo"
      [colspan]="2"
      [rowspan]="5"
      [style.background]="'lightblue'"
    >
      <h1 class="animate__animated" [ngClass]="{ animate__fadeIn: flag }">
        Por favor elija algun producto para ver sus detalle
      </h1>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="this.completo"
      class="animate__animated"
      [ngClass]="{ animate__fadeIn: flag }"
      [colspan]="2"
      [rowspan]="1"
      [style.background]="'lightblue'"
    >
      <h1>{{ completo.name }}</h1>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="this.completo"
      class="animate__animated"
      [ngClass]="{ animate__fadeIn: flag }"
      [colspan]="2"
      [rowspan]="3"
      [style.background]="'lightblue'"
    >
      <img [src]="completo.img" class="img" alt="" />
    </mat-grid-tile>

    <mat-grid-tile
      *ngIf="this.completo"
      class="animate__animated"
      [ngClass]="{ animate__fadeIn: flag }"
      [colspan]="2"
      [rowspan]="1"
      [style.background]="'lightblue'"
    >
      <p>{{ completo.description }}</p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'">
      <div class="ml-2">
        <button mat-raised-button color="accent" (click)="downQuantity()">
          -
        </button>
        <button mat-button style="background-color: white">
          {{ quantity }}
        </button>
        <button mat-raised-button color="accent" (click)="upQuantity()">
          +
        </button>
      </div>
      <span class="example-spacer"></span>
      <div *ngIf="total != 0">Total: {{ total }}</div>
      <span class="example-spacer"></span>
      <button class="mr-2" mat-button color="primary" (click)="add()">
        Agregar
      </button>
    </mat-grid-tile>
    <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
  </mat-grid-list>
</div>
