<mat-toolbar color="primary">
  <span>CangitoApp</span>
  <span class="example-spacer"></span>
  <button mat-button routerLinkActive="active" routerLink="products">
    Lista Productos
  </button>
  <button
    mat-icon-button
    routerLinkActive="active"
    routerLink="chango"
    (click)="shopping()"
  >
    <mat-icon
      [matBadge]="cant"
      [matBadgeHidden]="cant == 0 ? true : false"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <span class="example-spacer"></span>
  <div *ngIf="user$ | async as user">
    <span>{{ user.email }}</span>
  </div>

  <button (click)="logout()" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
