<div mat-dialog-actions style="text-align: right">
  <button mat-button (click)="onNoClick()">X</button>
</div>
<h1 mat-dialog-title style="text-align: center">
  Producto {{ data.name }} Marca {{ data.make }}
</h1>

<div></div>

<div mat-dialog-content style="text-align: center">
  <img [src]="data.img" style="display: flexbox; align-items: center" alt="" />

  <h3>Descripcion:</h3>
  <p>{{ data.description }}</p>
  <h2>
    Precio: <strong> ${{ data.price }}</strong>
  </h2>
</div>
