/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  margin-top: 0.7rem;
}
.ag-header-cell-label {
  justify-content: center;
  background-color: #ddbdf1;
}
.grid-cell-centered {
  text-align: center;
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
.error.mat-snack-bar-container {
  background: #cc0000;
  color: white;
}

.success.mat-snack-bar-container {
  background: #00cc00;
  color: white;
}
